

Django==1.8.7
django-ckeditor==5.1.1
django-crispy-forms==1.4.0
django-formtools==1.0

django-reversion==1.8.3
django-security==0.9.3
django-smtp-ssl==1.0
django-wysiwyg==0.8.0
django-xadmin==0.5.0
DjangoUeditor==1.8.143

html5lib==0.999
httplib2==0.9.2

virtualenv==15.0.3
xlwt==1.1.2
